@import '../../styles/variables.scss';


.web {


    &_2{
        background-color: $primary_main_3;
        color: white;
    }

    .text_area {
        margin-bottom: 40px;
        max-width: inherit;
    }


    &__img {
        width: 500px;
        border-radius: 10px;
    }



    &__link {
        margin-top: 20px;

        a {
            display: block;
            color: $secondary_dark_1;
            text-decoration: none;
            transition: all 0.2s;
            &:hover{
                text-decoration: underline;
            }
        }
        &_1 {
            a {
                color: $secondary_dark_2;   
            }
        }
        &_2{
            a {
                color: $secondary_dark_3;  
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        margin-bottom: 30px;
        width:350px;
    }

    p {
        margin-top: 20px;
    }
    padding-bottom: 40px;

}


@media (max-width: 768px) {
    .web {
        &__item {
            flex-direction: column;
            align-items: start;
        }

        &__img {
            width: 100%;
        }
        
        .text_area {
            max-width: auto;
        }
    }
}

@media (max-width: 574px) {
    .web {
        &__text {
            width:100%;
        }
        .text_area {
            margin: 0 10px 40px 10px;
        }
    }
}