$primary_main_1:  cadetblue;
$primary_dark_1:  rgb(68, 111, 112);

$primary_main_2:  rgb(160, 95, 95);
$primary_dark_2:  rgb(112, 68, 68);

$primary_main_3:  rgb(61, 61, 61);
$primary_dark_3:  rgb(20, 20, 20);


