$primary_main_1:  #629f8c;
$primary_dark_1:  #497262;
$secondary_light_1: #c86e86;
$secondary_dark_1: #885c6c;


$primary_main_2:  #6a995a;
$primary_dark_2:  #547647;
$secondary_light_2: #e4dc73;
$secondary_dark_2: #99895a;


$primary_main_3:  rgb(36, 36, 36);
$primary_dark_3:  rgb(20, 20, 20);
$primary_light_3: rgb(79, 79, 79);
$secondary_light_3: #8d5b96;
$secondary_dark_3: #d35697;


