@import '../../styles/variables.scss';

.about_me {
    padding-bottom: 20px;
    // &_1{
    //     background-color: $primary_light_3;
    // }
    &_2{
        background-color: $primary_main_3;
    }

    &__block {
        
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        align-items: center;
    }

    &__photo {
        width: 400px;
        border-radius: 10px;
        
        align-self: center;
    }
    .avatarBig {
        width: 100%;
        border-radius: 10px;
    }
}

@media (max-width: 992px) {
    .about_me {
        &__block {
            flex-direction: column;
        }
        &__photo {
            margin-top: 40px;
        }
    }
}


@media (max-width: 576px) {
    .about_me {
        .text_area {
            margin: 0 10px;
        }  
        &__photo {
            width: 280px;
        }  
    }
    
}