.about_me {
    padding-bottom: 20px;

    &__block {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(200px, auto);
        grid-auto-rows: minmax(200px, auto) ;
        gap: 100px;
        justify-content: space-between;

    }

    &__photo {
        width: 300px;
        height: 450px;
        background-color: rgb(78, 127, 129);
        border-radius: 10px;
        margin: 0 auto;
        align-self: center;
    }
}