.about_me {
    padding-bottom: 20px;

    &__block {
        
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

    }

    &__photo {
        width: 300px;
        height: 450px;
        background-color: rgb(78, 127, 129);
        border-radius: 10px;
        
        align-self: center;
    }
}