@import '../../styles/variables.scss';



.card {
    width: 250px;
    height: 390px;

    margin: 0 25px 50px 25px;
    &__img {
        width: 100%;
        height: 190px;

    }

    
        svg  {
            fill: $secondary_dark_1;
        }

}

.card_1 {
    svg{
        fill: $secondary_dark_2; 
    }
}


 .card_2{
        svg{
            fill: $secondary_dark_3; 
        }
    }