@import '../../styles/variables.scss';



.card {
    width: 250px;
    height: 350px;

    margin: 0 10px 40px 0;
    &__img {
        width: 100%;
        height: 150px;

        background-color: rgb(78, 127, 129);
    }

    .rate {
        span {
            color: $secondary_light_1;
        }
    
        &_1{
            span{
                color: $secondary_dark_2; 
            }
        }
        &_2{
            span{
                color: $secondary_light_3; 
            }
        }
    }

}