.about {
    margin-top: 120px;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-wrap: wrap;
    }

    &__text {
        max-width: 570px;
    }

    &__subblock {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__items {
        margin: 20px 0 0 0;
        max-width: 250px;
        display: flex;
        align-items: top;
        justify-content: space-between;
    }

    &__icon {
        min-width: 40px;
        margin-right: 20px;
        position: relative;
        &::before {
            @include circle;
        }
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}