@media (max-width: 1439px) {
    aside {
        display: none;
    }

    .skills {
        &__wrapper {
            margin: 60px auto 0 auto;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {

        &__img {
            margin: 0 auto;
        }

        &__text {
            margin: 50px auto 0 auto;
        }
    }

    .portfolio {

        &__wrapper {
            grid-template-columns: repeat(auto-fill, 280px);
            justify-content: center;
            grid-auto-rows: 280px;
        }

        &__item {

            &-vert {
                grid-column: unset;
                grid-row: unset;
            }

            &-horizon {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .experience {
        &__column {
            margin: 0 auto;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__bar {
            width: 200px;
        }
    }

    .prices {
        &__column {
            margin: 0 auto;
        }
    }

    .contacts {
        img {
            display: none;
        }

        &__wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
        }

        &__column {
            margin: 0 auto;
        }

        .subheader {
            text-align: center;
            padding-left: 0px;

            &::before {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .secondheader {
            text-align: center;

            &::after {
                margin: 25px auto 0 auto;
            }
        }
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .intro {
        h1 {
            font-size: 35px;
        }
    }

    .button {
        min-width: 110px;
        min-height: 30px;

        font-size: 12px;
    }

    .about {
        &__items {
            margin: 40px auto 0 auto;
        }
    }

    .skills {
        &__item {
            width: 250px;
        }

        &__bars {
            grid-template-columns: 1fr 1fr;
        }

        &__bar {
            width: 250px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .menu {
        &__block {
            width: 255px;

            &__list {
                font-size: 20px;
            }
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__bars {
            grid-template-columns: 1fr;
        }

        &__bar {
            width: 250px;
            margin: 40px auto 0 auto;
        }
    }

    .prices {
        &__headers {
            min-width: 240px;
        }
    }

    .contacts {

        &__wrapper {
            padding: 0 20px;
        }

        form {
            grid-template-columns: 100%;
            grid-template-rows: 45px 45px 190px 100px;
        }

        &__input {
            &-message {
                grid-column: unset;
            }
        }

        &__column {
            width: 100%;
        }

        &__subin {
            margin-left: 0;
            &-small{
                display: block;
            }
            &-large{
                display: none;
            }
        }

        &__submit {
            grid-column: unset;
            display: grid;
            grid-template-rows: 40px 40px;
            align-content: space-between;
        }

        &__policy {
            font-size: 12px;
        }    

    }

}