.policy {
    .container{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    h1 {
        text-align: center;
    }

    &__subheader {
        padding-left: 20px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    &__descr {
        padding-left: 20px;
        margin-bottom: 20px;
    }

    &__par{
        padding-left: 40px;
    }

    &__subpar {
        padding-left: 60px;
    }
}