.secondheader {
    font-weight: 700;
    font-size: 36px;

    &::after {
        @include line;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &_center {
        text-align: center;

        &::after {
            margin: 25px auto 0 auto;
        }
    }
}