@import '../../styles/variables.scss';

.main {
    height: 100vh;
    background: url(../../img/background.png) center (center/cover) no-repeat;

    &_1 {
        background: linear-gradient(to bottom right, $primary_main_2, $secondary_light_2);    }

    &_2 {
        background: none;
        background-color: $primary_main_3;
    }
   

    .container {
        margin: 0 auto 0 auto;
        display: flex;
        padding-top: 0px;
        height: calc(100% - 70px);
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-self:center;
    }

    &__photo {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background-color: #fff;
        margin-right: 25px;
        align-self: center;
    }

    &__headers {
        width: 600px;
        align-self: center;
        color: #fff;
        text-align: right;

        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 25px;
            margin-top: 25px;
        }
    }
    .avatar {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

@media (max-width: 992px) {
    .main {
        &__headers {
            width: 430px;
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        &__headers {
            margin-top: 20px;
            text-align: center;
        }

        &__container {
            flex-direction: column;
            margin: 0 auto 0 auto;
        }

        &__photo {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 574px) {
    .main {
        &__headers {
            width: 370px;
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}

@media(max-width:320px) {
    .main {
        &__headers {
            width: 310px;
        }
    }
}