@import '../../styles/variables.scss';

.main {
    height: 100vh;
    background-color: $primary_main_1;

    &_1 {
        background: linear-gradient(to bottom right, $primary_main_2, $secondary_light_2);    }

    &_2 {
        background-color: $primary_main_3;
    }
   

    .container {
        margin: (100vh/4) auto 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 0px;
   
    }

    &__photo {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background-color: #fff;
        margin-right: 25px;
    }

    &__headers {
        width: 600px;
        align-self: center;
        color: #fff;

        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 25px;
            margin-top: 25px;
        }
    }
}

@media (max-width: 992px) {
    .main {
        &__headers {
            width: 430px;
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        &__headers {
            margin-top: 20px;
            text-align: center;
        }

        .container {
            flex-direction: column;
            margin: (100vh/10) auto 0 auto;
        }

        &__photo {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 574px) {
    .main {
        &__headers {
            width: 370px;
            h1 {
                font-size: 35px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}