@import '../../styles/variables.scss';

.text_area{
    max-width: 450px;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;

    background-color:rgb(241, 241, 241);
    box-shadow: 1px 1px 15px rgba(49, 49, 49, 0.404);
    
    font-size: 15px;
    line-height: 30px;

    &_2{
        background-color: $primary_light_3;
        color: white;
    }
}