.text_area{
    padding: 30px;
    border-radius: 10px;

    background-color:rgb(241, 241, 241);
    box-shadow: 10px 10px 20px rgba(49, 49, 49, 0.577);
    
    font-size: 15px;
    line-height: 30px;
}