@mixin circle {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: $base-color;
    position: absolute;
    left: 0;
    top: -9px;
    z-index: -1;
}

@mixin line {
    content: '';
    display: block;
    height: 3px;
    width: 60px;
    background-color: $base-color;
}