@import '../../styles/variables.scss';

.experience {
    .text_area {
        height: 270px;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            box-shadow: 1px 1px 35px rgba(35, 35, 35, 0.696);
            border: none;
        }
    }
    li {
        text-align: start;
    }

    .tip {
        text-align: center;
        padding: 0 20px;


        svg {
            font-size: 50px;
        }
        
        .text_area {
            width:auto;
            height: auto;
            margin: 30px auto;
        }
    }
    // height: 750px;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // grid-auto-rows: 1fr 1fr 1fr;
    // grid-auto-columns: 1fr 1fr 1fr;
    // gap: 15px;

    // &__item {
    //     background-color: rgb(78, 127, 129);
    //     &_1 {
    //         grid-column: 1/3;
    //     }

    //     &_3 {
    //         grid-row: 2/4;
    //     }

    //     &_8 {
    //         grid-column: 1/4;
    //     }
    // }

    &_2{
        background-color: $primary_main_3;
        .text_area {
            &:hover {
                box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.993);;
            }
        }
    }
}

@media (max-width: 1200px) {
    .experience {
        .text_area {
            height: 320px;
        }
    }
}

@media (max-width: 768px) {
    .experience {
        .text_area {
            height: 270px;
        }
    }
}

@media (max-width: 576px) {
    .experience {
        .text_area {
            height: 400px;
        }
    }
}

@media(max-width:320px) {
    .text_area {
        p {
            font-size: 12px;
        }
        h3 {
            font-size: 15px;
        }
        h4 {
            font-size: 14px;
        }
        ul {
            font-size: 12px;
        }
        padding: 15px;
        font-size: 12px;
    }
}