@import '../../styles/variables.scss';

.projects {
    padding-bottom: 20px;
    &_2{
        background-color: $primary_main_3;
    }
    &__box {
        margin: 0 10px;
        .text_area {
            margin: 0 auto 30px auto;
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
    }

    &__headerblock {
        display: flex;
        align-items:center;
    }

    &__icons {
        margin-right: 10px;
    }

}