@import '../../styles/variables.scss';

.projects {
    padding-bottom: 20px;
    
    &__box {
        margin: 0 10px;
    }
    .text_area {
        margin: 0 auto 30px auto;
        display: flex;
        justify-content: space-between;
        align-items:center;
        transition: all 0.3s;
        &:hover{
            cursor: pointer;
            box-shadow: 1px 1px 35px rgba(35, 35, 35, 0.696);    
        }
    }

    &__headerblock {
        display: flex;
        align-items:center;
    }

    &__icons {
        margin-right: 10px;
    }

    &__links {
        color: black;
        text-decoration: none;
    }

    &_2{
        background-color: $primary_main_3;
        .text_area {
            &:hover {
                box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.993);
            }
        }
    }

}