@import '../../styles/variables.scss';

.dot {

    span {
        background-color: $secondary_dark_1;
    }
    

    &_1 {
        span {
            background-color: $primary_dark_2;    
        }
    }

    &_2 {
        span {
            background-color: $secondary_light_3;  
        }
       
    }
}