.nav {
    height: 70px;
    background-color: rgb(78, 127, 129);
    box-shadow: 0 10px 20px rgba(49, 49, 49, 0.577);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__linkblock {
        margin-right: 40px;
        min-width: 20px;
        text-align: center;;

        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;

            color:rgba(240, 248, 255, 0.894);
            transition: all 0.2s;
            &:hover {
                font-size: 20px;
            }
        }

        &_language {
            width:30px;
            height:30px;
            border-radius: 100%;
            text-align: center;
            border: 0px;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
               transform: scale(1.2, 1.2); 
            }

            &_active{
                transform: scale(1.2, 1.2); 
                box-shadow: 3px 3px 5px rgba(47, 47, 47, 0.555);
                // border: 2px solid rgb(50, 50, 50);
            }
        }
    }
}