@import '../../styles/variables.scss';


.nav {
    height: 70px;
    background-color: $primary_dark_1;
    box-shadow: 0 10px 20px rgba(49, 49, 49, 0.577);

    &_1{
        background-color: $primary_dark_2;
    }
    &_2{
        background-color: $primary_dark_3;
    }

    display: flex;
    justify-content: flex-end;
    align-items: center;


    &__menu {
            background: none;
            border: none;
            color: white;
            position: absolute;
            left: 35px;
    }
    &__linkblock {
        margin-right: 40px;
        min-width: 20px;
        text-align: center;;

        a {
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;

            color:white;
            transition: all 0.2s;
            &:hover {
                font-size: 20px;
            }
        }

        &_language {
            width:30px;
            height:30px;
            border-radius: 100%;
            text-align: center;
            border: 0px;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
               transform: scale(1.2, 1.2); 
            }

            &_active{
                transform: scale(1.2, 1.2); 
                box-shadow: 3px 3px 5px rgba(47, 47, 47, 0.555);
                // border: 2px solid rgb(50, 50, 50);
            }
        }
    }

}

.bar {
    display: block;
    
    min-width: 390px;
    position: fixed;
    left: 0;

    background-color: $primary_dark_1;

    &_1{
        background-color: $primary_dark_2;
    }
    &_2{
        background-color: $primary_dark_3;
    }

    &__close {
        background: none;
        border: none;
        color: white;
        position: absolute;
        top: 35px;
    }
}
