@import '../../styles/variables.scss';

.studies{
    &_2{
        background-color: $primary_main_3;
    }
}

@media (max-width: 768px) {
    .MuiTimelineItem-missingOppositeContent {
        &::before {
            display: none;
        }
    }
    ul {
        display: block;
        margin: 0 auto;
    }
}